{% extends "myblog/base.html" %}
{% block main %}
{% block title %}
  delete post
{% endblock title %}

 <h2>Post Title:<small>{{post.title}}</small></h2>
 <hr>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
        delete
      </button>
    
  
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Are You sure you want to delete?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-danger"  type="submit" value="Yes am sure">
            </form><br>

          
          <a type="button" class="btn btn-primary" href="{%url 'detail' post.id%}">No take me back</a>
        </div>
        <div class="modal-footer">
            
        </div>
      </div>
    </div>
  </div>

 
  
{% endblock main %}