{% extends "myblog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  login
{% endblock title %}
{% block main %}
<form action="" method="post" class="bg-light" style="padding:20px">
   
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="form-group">Login</legend>
        {% if messages %}
        {% for messages in messages  %}
        <span class="alert alert-success"  style="font-weight:bold; font-size:12px;"><strong>{{messages}}</strong></span>
        {% endfor %}
        {% endif %}
        {{form|crispy}}

        <input class="btn btn-success" type="submit" value="login"><br>
        <small>Dont have an account <a href="{%url 'register' %}">sign up</a></small>
    </fieldset>
</form>

<div style="height: 8vh;"></div>

{% endblock main %}